<nav class="navbar navbar-expand-lg navbar-light bg-white custom-navbar">
  <div class="container">
    <a
      class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
      href="/"
    >
      <img
        src="/assets/unique.png"
        class="img-fluid"
        alt="Bootstrap"
        width="100"
        height="30"
      />
    </a>
    <div class="order-lg-2 nav-btns nav-icons nav-buttons-container">
      <a href="/cart" class="btn position-relative">
        <i class="fa-solid fa-cart-shopping"></i>
        <!-- Any other content you want inside the link -->
      </a>

      <form
        id="searchForm"
        action="/search"
        method="get"
        onsubmit="return validateForm()"
      >
        <input type="text" id="searchInput" name="q" placeholder="Search..." />
        <button type="submit" class="btn position-relative" id="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse order-lg-1"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase text-dark"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/all">All</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/stitched"
            >Stitched</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/unstitched"
            >Unstitched</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/contact-us"
            >Contact Us</a
          >
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-dark" href="/calculator"
          >Calculator</a
        >
      </li>
        <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/register"
            >Register</a
          >
        </li>

        <% } else {%> <% if (user.role=="admin") { %>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase text-dark"
            href="/admin/stitched/index"
            >Admin Area</a
          >
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="/logout">Logout</a>
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
<script>
  function validateForm() {
    // Get the value of the search input
    var searchTerm = document.getElementById("searchInput").value;

    // Check if the input is empty
    if (searchTerm.trim() === "") {
      // Display an alert or perform any other action to indicate the error
      alert("Please enter a search term");

      // Prevent the form from submitting
      return false;
    }

    // If the input is not empty, allow the form to submit
    return true;
  }
</script>
