<div class="add-items">
  <h2>Add New Address</h2>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="elements">
      <label for="image">Image:</label>
      <input type="file" name="image" id="image" accept="image/*" required />
    </div>
    <div class="mb-3 row">
      <label for="color" class="form-label col-sm-2">Color</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="color" name="color" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="price" class="form-label col-sm-2">Price</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="price" name="price" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="size" class="form-label col-sm-2">Size</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="size" name="size" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="details" class="form-label col-sm-2">Details</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="details" name="details" />
      </div>
    </div>
    <button class="btn btn-info" type="submit">Add New Dress</button>
  </form>
</div>
