<h1>Contact Us</h1>
<div class="row">
  <div class="col-6 contact">
    <img src="/assets/contact.png" alt="Contact Us" />
  </div>
  <div class="col-6 contact-form">
    <div class="contact-text"><h2>Contact Us</h2></div>
    <form>
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="description" class="col-sm-12 col-form-label"
          >What's in your mind?</label
        >
        <div class="col-sm-12">
          <input type="text" class="form-control" id="description" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary contact-button">
        Submit
      </button>
    </form>
  </div>
</div>
