<form action="" method="post" enctype="multipart/form-data">
  <div class="elements">
    <label for="image">Image:</label>
    <input type="file" name="image" id="image" accept="image/*" required />
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input type="text" class="form-control" id="color" name="color" />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" name="price" />
  </div>

  <div class="mb-3">
    <label for="details" class="form-label">Details</label>
    <input type="text" class="form-control" id="details" name="details" />
  </div>
  <button class="btn btn-info" type="submit">Add New Dress</button>
</form>
