<footer>
  <div class="row">
    <div class="col-12 panel-1 text-center text-capitalize">
      <a href="/">Back To Top</a>
    </div>
    <div class="col-3 panel-2">
      <ul>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-3 panel-2">
      <ul>
        <li><a href="/stitched">Stitched Clothes</a></li>
      </ul>
    </div>
    <div class="col-3 panel-2">
      <ul>
        <li><a href="/unstitched">Unstitched Clothes</a></li>
      </ul>
    </div>
    <div class="col-3 panel-2">
      <ul>
        <li><a href="/kids">Kids Section</a></li>
      </ul>
    </div>
    <div class="panel-3">
      <div class="logo col-12">
        <img src="/assets/unique.png" alt="" class="img-fluid" width="50px" />
      </div>
    </div>
    <div class="panel-4">
      <div class="col-12 text-center pages">
        <a>Conditions of Use</a>
        <a>Privacy Notice</a>
        <a>Your Ads Privacy Choices</a>
      </div>
      <div class="col-12 text-center copyright">
        @1996-2023,Unique.com, Inc. or its affliates
      </div>
    </div>
  </div>
</footer>
