/* This is CSS file which is served Via express */
* {
  padding: 0;
  margin: 0;
}
#middle h1 {
  color: white;
}
h1 {
  color: black;
}
ul {
  list-style: none;
}
#menu li {
  padding-left: 2rem;
  /* display: inline; */
}
a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
/* #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 161, 183);
  height: 10vh;
  padding-bottom: 0;
  margin-bottom: 0;
} */
/* #middle {
  background-color: rgb(255, 209, 218);
  display: flex;
  justify-content: center;
} */
.login input {
  background-color: rgb(29, 44, 73);
  width: 50%;
  color: white;
}
form {
  margin-left: 3rem;
  border: solid 2px black;
}
